<!-- {% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome{% endblock %}</title>

    <link rel="stylesheet" href="{% static css/bootstrap.min.css %}">
    define the custom.css depending on how you want to display the fonts
    <link rel="stylesheet" href="{% static css/custom.css %}">

    {% block stylesheet %}
    {% endblock %}
  </head>
<body>
  {% block body %}
  {% endblock body %}
</body>
</html> -->
