<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us</title>
</head>
<body>
  <h1>Contact Us</h1>
  {% if form.errors %}
    <p style="color: red;">Please correct the error{{ form.errors|pluralize }} below</p>
  {% endif %}
  <form action="" method="post" novalidate>
    <table>
      {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit" value="submit">
  </form>
</body>
</html>
