<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>IFP Portal</title>
</head>

<body>
  <h2>Below are your Applications</h2>
  {% for app in apps %}
    <a href="{{ app.linkUrl }}" target="_blank">{{ app.label }}</a> <br>
  {% endfor %}
</body>
</html>
