<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload a File</title>
</head>

<body>
  {% if document %}
    <ul>
      {% for doc in document %}
        {{ doc }}
      {% endfor %}
    </ul>
  {% else %}
    <p>No Documents</p>
  {% endif %}
  
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.image_file.label_tag }}
    <p>
      {{ form.image_file.errors }}
      {{ form.image_file }}
    </p>
    <input type="submit" value="Upload">
  </form>
</body>
</html>
